.page-group{
    height: 100%;
    background: #f8f8f8;
    .search-body{
    padding: 1.17333333rem 0 2.45rem;
    min-height: 100%;
    background: #fff;
    .header{
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        height: 1.17333333rem;
        width: 100%;
        background-color: #fff;
        .back{
            float: left;
            position: relative;
            vertical-align: text-top;
            height: 100%;
            width: 1.2rem;
            text-align: center;
            line-height: 1.17333333rem;
            font-size: 0;
            img{
                height: .7rem;
               }
            }
            .search-button{
                position: relative;
                width: 1.54666667rem;
                float: right;
                vertical-align: text-top;
                height: 100%;
                text-align: center;
                .btn{
                    width: 1.54666667rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -.77333333rem;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    color: #333;
                    font-size: .4rem;
                    background: transparent;
                    padding: 0;
                    border: none;
                }
            }
            .box{
                margin: 0 1.54666667rem 0 1.2rem;
                position: relative;
                .background{
                    background-color: #f6f8fa;
                    height: .82666667rem;
                    margin-top: .17333333rem;
                    width: 100%;
                    form{
                        height: 100%;
                        .submit{
                            width: .96rem;
                            line-height: 1;
                            color: #999;
                            background: transparent;
                            padding: 0;
                            height: 100%;
                            border: none;
                            float: left!important;
                            img{
                                position: absolute;
                                top: 50%;
                                -webkit-transform: translateY(-50%);
                                transform: translateY(-50%);
                                font-size: .34666667rem;
                                display: inline-block;
                            }
                        }
                      .input-box{
                          position: relative;
                            overflow: hidden;
                            height: 100%;
                            input{
                                position: absolute;
                                padding: 0;
                                width: 100%;
                                height: 100%;
                                font-size: .32rem;
                                border: none;
                                line-height: normal;
                                background: #f6f8fa;
                                outline: none;
                            }
                      }  
                    }
                }
            }
        }
        .search-history{
            .background{
                background: #fff;
                padding: 0 .4rem;
                .no-result{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    -webkit-transform: translate(-50%,-50%);
                    transform: translate(-50%,-50%);
                    img{
                        width: 3.68rem;
                        border-style: none;
                        border-style: none;
                        
                    }
                    .no-result-text{
                            color: #999;
                            font-size: .37333333rem;
                            margin-top: .53333333rem;
                            text-align: center;
                        }
                }
            }
        }
    }
}
